@model BookCatalog.ViewModel.AuthorVM

@Scripts.Render("~/author-view/js")
<div class="panel panel-default">
    <div class="panel-heading"><h3>Edit author</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6, col-md-6 col-lg-3">
                <form>
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName"  data-bind="value: FirstName" placeholder="This field is required">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" data-bind="value: LastName" placeholder="This field is required">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Book count:</label>
                        <input type="text" class="form-control" id="bookCount" data-bind="value: BookCount" placeholder="Book count" disabled>
                    </div>

                    <div class="form-group float-right">
                        <button type="button" class="btn" onclick="Author.onEditClick()">Save</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     var authorModel = @Html.Raw(Json.Encode(Model));

    Author.editAuthorUrl = '@Url.Action("Edit", "Author")';
    Author.goToMainPage = '@Url.Action("Index", "Home")';

    Author.Init(authorModel);
</script>