@using System.Web.Optimization
@model IEnumerable<BookCatalog.ViewModel.BookVM>

@Scripts.Render("~/main-page/js")

<div class="row">
    <div class="col-md-12">
        <table id="bookTbl" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Rating</th>
                    <th>Page Count</th>
                    <th>Author</th>
                </tr>
            </thead>
        
            <tbody>
            
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    Catalog.loadDataUrl = '@Url.Action("LoadGridData", "Home")';

    Catalog.Init('#bookTbl');
</script>